body {
  background-color: #000;
  color: #fff;
}

/* 헤더 */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 30px;
  margin-bottom: 20px;
}

.logo a {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 64px;
}

.menu {
  display: flex;
  width: 20%;
  justify-content: space-between;
  align-items: center;
  color: rgb(154, 143, 143);
  font-size: 24px;
  min-width: 240px;
  max-width: 400px;
}

.menu li {
  cursor: pointer;
  transition: color 0.2s;
}

.menu li:hover {
  color: #fff;
}

.profile {
  width: 40px;
  height: 40px;
  background-color: rgb(22, 68, 68);
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

/* 메인 - 내 보관함에 있는 음악 */

main {
  margin: 0 100px;
}

.mine h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.mine .container {
  display: flex;
  overflow: auto;
}

.mine .container::-webkit-scrollbar {
  width: 12px;
}

.mine .container::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.mine .container::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.503);
}

.mine .container .playlist {
  position: relative;
  height: 340px;
  margin-right: 24px;
}

.mine .container .playlist .cover button {
  position: absolute;
  z-index: 2;
  bottom: 30%;
  right: 10%;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgb(15, 13, 13);
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s;
}

.mine .container .playlist img {
  width: 250px;
  height: 250px;
  border-radius: 4px;
  cursor: pointer;
}

.mine .container .playlist .cover {
  transition: 0.3s;
}

.mine .container .playlist .cover:hover button {
  opacity: 0.5;
}

.mine .container .playlist .cover button:hover {
  transform: scale(1.2);
}

.mine .container .playlist button .play {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #fff;
}

.mine .container .playlist .list_name {
  cursor: pointer;
  margin: 8px 0;
  font-size: 20px;
}

.mine .container .playlist .list_num {
  font-size: 20px;
}

.mine .container .playlist .list_name:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  main {
    margin: 0 40px;
  }

  .mine .container .playlist .list_name,
  .mine .container .playlist .list_num {
    font-size: 16px;
  }

  .mine .container .playlist img {
    width: 200px;
    height: 200px;
  }

  .mine .container .playlist {
    height: 300px;
  }

  .mine .container::-webkit-scrollbar {
    display: none;
  }
}

/* 메인 - 빠른 선곡 */
.selection {
  margin-top: 40px;
}

.selection p {
  color: rgba(255, 255, 255, 0.503);
}

.selection h2 {
  font-size: 40px;
  font-weight: 700;
  margin: 8px 0 20px 0;
}

.selection .container {
  display: flex;
  overflow: auto;
}

.selection .container::-webkit-scrollbar {
  width: 12px;
}

.selection .container::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.selection .container::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.503);
}

.selection .container .col {
  margin-right: 100px;
}

.selection .container .col .row {
  display: flex;
  margin-bottom: 20px;
}

.selection .container .col .row .info {
  display: flex;
  min-width: 400px;
  flex-direction: column;
  justify-content: space-around;
}

.selection .container .col .row img {
  width: 48px;
  height: 48px;
  margin: 0 12px;
  cursor: pointer;
}

.selection .container .col .row .info .singer_album {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.selection .container .col .row .info .singer_album:hover {
  color: rgba(255, 255, 255, 0.7);
}

.selection .container .col .row .info .title:hover {
  cursor: pointer;
}

.selection .container .col .row .info .singer_album .singer:hover,
.selection .container .col .row .info .singer_album .album:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* .selection .container .col .row .info .singer_album .singer,
.selection .container .col .row .info .singer_album .album {
  text-overflow: ellipsis;
  white-space: nowrap;
} */
